html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.bg-samsung{
    background-image: url("../imgs/samsung-bg.jpg");
    background-size: cover;
}
.button-block{
    width: 100%;
    padding: 10px;
}
.button-quarter{
    width: 25%;
    padding: 10px;
}
.login{
    position: absolute;
    top: 30%;
    left: 33%;
    width: 33%;
    padding: 25px;
    border-radius: 15px;
    background: rgba(255,255,255,0.25);
}
.centered{
    margin: auto;
}
.sub-centered{
    margin: 0 auto;
    display: inline-block;
}
.bordered{
    border: 1px black solid;
}
.panel{
    float: right;
    padding: 0;
    min-height: 100%;
    height: 100%;
    width: 80%;
    overflow: hidden;
    background-color: #2F5C91;
}
.panel-title{
    padding-left: 25px;
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-stretch: expanded;
    background-color: rgba(25, 25, 25, 0.5);
}
.panel-title:hover{
    animation-name: title-pulse;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.nav-side-menu{
    z-index: 999;
}
.mid-image{
    position: absolute;
    top: 20%;
    left: 48%;
    width: 30%;
    height: 60%;
}
.mid-panel{
    overflow: auto;
    height: 100%;
    padding-bottom: 30px;
}
.row-report{
    background-color: #4977AF;
    color: white;
    padding: 10px;
}
.row-report:hover{
    animation-name: reports-row-pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.fecha, #tipo-reporte{
    background-color: rgba(25, 25, 25, 0.5);
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.report-input{
    background-color: rgba(25, 25, 25, 0.5);
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.report-input-2{
    background-color: rgba(25, 25, 25, 0.5);
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.main-input{
    background-color: rgba(25, 25, 25, 0.8);
    color: white;
    border: none;
    font-size: 22px;
    padding: 7px;
    text-align: center;
}
.block-01{
    padding: 5px 5px 5px 25px;
}
.block-title{
    font-size: 22px;
    padding-left: 20%;
}
.block-title-reg{
    font-size: 18px;
}
.title{
    font-size: 30px;
}
#num_semana, #id-tecnico, .data{
    font-size: 35px;
}
.centered-block {
    display: table;
    margin: 0 auto;
}
.service{
    border-left: 30px blue solid;
}
.loading-icon{
    max-height: 40px;
    margin: 10px;
}
label{
    margin: 0;
    margin-top: 10px;
    padding-left: 10px;
}
input[disabled]{
    cursor: not-allowed;
    color: rgba(150, 150, 150, 1);
}
.table-icon{
    height: 30px;
    cursor: pointer;
}


.report-input{
    width: 100%;
}
.section-reg{
    padding: 5px;
}
.subsection-title{
    font-size: 22px;
    padding: 5px;
}
.report-select{
    background-color: rgba(25, 25, 25, 0.5);
    font-size: 22px;
    padding: 3px;
    width: 100%;
    border: none;
    border-radius: 10px;
}
select{
    text-align: center;
}
.data-block{
    padding: 20px;
}
th{
    background-color: #2F5C91;
}
td, th{
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

td{
    background-color: #3F6DA5;
}
input{
    background-color: black;
    color: white;
    text-align: center;
}
table{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}
tr:hover td{
    animation-name: reports-row-pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

table td input{
    border: none;
    background-color: rgba(25, 25, 25, 0.5);
    border-radius: 5px;
    color: white;
}
.checkbox-block{
    padding-top: 5px;
}
.checkbox-md{
    transform: scale(2.5);
}
#tarifas-block{
    position: absolute;
    width: 70%;
    height: 90%;
    left: 15%;
    top: 5%;
    z-index: 1001;
    background-color: #5390C6;
    border-radius: 30px 0 0 30px;
}
#close-tarifas{
    background-image: url("../imgs/delete.png");
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    transition: all;
    transition-duration: 0.2s;
}
#close-tarifas img:hover{
    transform: scale(1.6);
    transition: all;
    transition-duration: 0.2s;
}
.spaced{
    margin-top: 10px;
    margin-bottom: 10px;
}
.layer{
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
}
.form{
    font-size: 18px;
}
.form-panel{
    padding: 20px;
    border-radius : 10px;
    border: 2px white solid;
    width: 50%;
}
.field{
    padding: 10px;
    font-size: 18px;
}
.field input, .field select{
    background-color: rgba(25, 25, 25, 0.5);
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;

}
.label{
    text-align: right;
    margin-top: 4px;
}
.popup-panel{
    margin-top: 5%;
    color: white;
    padding: 20px;
}
#tarifas-block{
    overflow: auto;
}
#no-reporte{
    border-bottom: 2px solid white;
}
.return-icon{
    position: fixed;
    float: right;
    height: 50px;
    cursor: pointer;
    top: 10%;
    right: 6%;
}
.wrapped{
    word-wrap: break-word;
    max-width: 500px;
}

.all-bordered{
    border: 4px solid white;
}
::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

@keyframes title-pulse{
    0%{
        background-color: rgba(25, 25, 25, 0.5);
    }
    50%{
        background-color: rgba(75, 75, 75, 0.5);
    }
    100%{
        background-color: rgba(25, 25, 25, 0.5);
    }
}
@keyframes reports-row-pulse{
    0%{
        background-color: #4977AF;
    }
    50%{
        background-color: #5390C6;
    }
    100%{
        background-color: #4977AF;
    }
}



